* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    outline: none;
}

.container {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-item-label {
    width: 100px;
}

.form-item input {
    padding: 5px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #3498db 2px solid;
}

.form-item input:hover,
.form-item input:active,
.form-item input:focus {
    padding: 5px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #2980b9 3px solid;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.flex-to-end {
    justify-content: space-around;
}

.button-login {
    font-size: 1.5rem;
    text-transform: uppercase;

    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;

    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.button-login:hover {
    border: #3498db 1px solid;
    background-color: #ecf0f1;
    color: #3498db;
}

.avatar {
    margin: 20px 0;
    align-self: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    border: #3498db 2px solid;
}

.avatar::after, .avatar::before {
    position: relative;

    /* 边框 */
    top: -2px;
    left: -2px;

    box-sizing: border-box;
    width: 96px;
    height: 96px;
    transition: transform ease-in-out .2s;
}

.avatar::before {
    display: block;
    content: "";
    background: no-repeat url("./img/SalHe.png") center;
    background-size: contain;
}

.avatar::after {
    display: block;
    content: "";
    background: no-repeat url("./img/github.png") center;
    background-size: contain;
}

.avatar:hover::before, .avatar:hover::after {
    transform: translateY(-96px);
}

.avatar:hover {
    box-shadow: #3498db;
}


.form-item label input[type='checkbox'] + svg {
    transition: all ease-in-out .2s;
}

.form-item label input[type='checkbox']:checked + svg {
    fill: #8e44ad;
}

.radio-male input[type=radio] + svg,
.radio-male input[type=radio] + svg {
    fill: #2c3e50;
}

.radio-male input[type=radio]:checked + svg {
    fill: #1296db;
}

.radio-female input[type=radio]:checked + svg {
    fill: #d4237a;
}